@{
    ViewBag.Title = "Index";
}

<h2>Fabricación</h2>

<ol class="round">
    <li class="one"><h4>@Html.ActionLink("Validar solicitud de Producción","Index", "SolicitudProduccion")</h4>
    </li>
    <li class="two"><h4>@Html.ActionLink("Aprobar solicitud de Producción", "Almacenes", "GuiaSalida")</h4>
    </li>
</ol>